Jobs Ranked By Popularity:
<ul>
    <% Job.job_level_of_interest.each do |range| %>
        <li><%= range[0] %>: <%= range[1] %> jobs available</li>
    <% end %>
</ul>

Top 3 Companies By Average Level Of Interest:
<ul>
    <% Job.top_three_companies.each do |company| %>
        <li><%= Company.find(company[0]).name %>: <%= company [1].round %></li>
    <% end %>
</ul>


Jobs Available by Location:
<ul>
    <% Job.location_count.each do |location| %>
        <li><%= link_to "#{location[0]}", "/jobs?location=#{location[0]}"%>: <%= location[1] %> jobs</li>
    <% end %>
</ul>
