Title: <%= @job.title %>
<br>

Category: <% if @job.category.nil?%> 
                <%= "No Category" %> <%= link_to "Click To Add Category", edit_company_job_path(@job.company) %>
            <% else %>
                <%= @job.category.title %>
            <% end %>
<br>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= @job.city %>
<br>

Company: <%= link_to @job.company.name, company_path(@job.company) %>

<br>
<%= link_to "Edit", edit_company_job_path(@job.company, @job) %>
<%= link_to "Delete", company_job_path(@job.company, @job), method: :delete, 
            data: {confirm: "Delete this job?"} %>

<%= render partial: "comments/form" %>

<h3>Comments</h3>

<% if @job.comments.empty? %>
    No comments for this job.
<% else %>
    <% @comments.reverse.each do |comment| %>
        <br>
        <%= comment.content %><br>
        Posted on: 
        <%= comment.created_at.strftime('%A, %B %d, %Y') %>
        at <%= comment.created_at.strftime('%l:%M %p') %>
        <% if comment.created_at != comment.updated_at %>
            <br>
            (Edited: <%= comment.updated_at.strftime('%A, %B %d, %Y') %>)
        <% end %>
        <br>
    <% end %>
<% end %>