<!DOCTYPE html>
<html>
<head>
  <title>Job-Tracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/scss" href="/application.scss">
  <%= csrf_meta_tags %>
</head>
  <header>
  <h1><%= link_to "Job Tracker", '/' %></h1>
    <h3><%= link_to "Companies", companies_path %>    
    <%= link_to "Jobs", jobs_path %>    
    <%= link_to "Categories", categories_path %><h3>
  </header>
<body>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
  <% end %>
<%= yield %>

</body>
<footer>
  <h5>Blog | Facebook | Twitter | LinkedIn</h5>
</footer>
</html>
